.header
{
  background-color: #2a57eba8;
}


.header a {
  color: black;
}

.header a:hover {
  background-color: #4191db7e;
  color: black;
}

.header a.active {
  background-color: rgba(236, 216, 35, 0.671);
  color: rgb(17, 46, 126);
  font-weight: bold;
}

body
{
  background-color: rgba(36, 50, 63, 0.493);
}


.price-tool div
{
  background-color: rgba(154, 189, 241, 0.836);
  border-color: rgba(235, 208, 52, 0.719);
}

.article
{
  border-color: rgba(235, 208, 52, 0.719);
}

.price-tool p:hover
{
  background-color: rgba(236, 225, 71, 0.432);
}